.sidebar_nav {
  margin: 0 -1rem;
  border: solid 1px @color-gray;
}

.nav_item {
  color: #FFFFFF;
  text-align: center;
  background-color: @color-primary-dark;
  box-shadow: 2px 2px 2px @color-gray-dark;

  &:active {
    background-color: @color-secondary-dark;
  }

  &:hover {
    background-color: @color-primary-light;
  }
}
