html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content {
  padding: 0 1rem;
  margin: 0 auto -100px;
  min-height: 100%;
  max-width: 1300px;
  background-color: @color-primary;
}

.page_content {
  width: 66%;
  background-color: #FFFFFF;
  margin: 0 -1rem;
  padding: 1rem;
  padding-right: 0;
}

.push {
  padding: 0;
  margin: 0;
  height: 100px;
}
