<div class="modal">
  <i class="close_icon"></i>
  <div class="modal_header">
    Title
  </div>
  <div class="modal_image">
    <div class="medium_image">
      <img src="/images/wild.jpg">
    </div>
    <div class="modal_description">
      <div class="modal_subheader">Title</div>
      <ul>
        <li>Author</li>
        <li>Date</li>
        <li>Host</li>
      </ul>
    </div>
  </div>
  <div class="actions">
    <a href="amazon.com" target="_blank">
      <div class="icon_button">
        Buy This Book
        <i class="book_icon"></i>
      </div>
    </a>
  </div>
</div>
