<div class="modal" id="modal_{{ .File.TranslationBaseName }}">
  <div class="modal_container">
    <span class="modal_close">
      <img src="/images/x-circle.svg" />
    </span>
    <h4 class="modal_header">
      {{ .Params.title }}
    </h4>
    <div class="modal_content_container">
        <img class="modal_image" src="/images/{{ .Params.image }}">
      <div class="modal_description">
        <ul class="modal_meta">
          <li><strong>Author:</strong> {{ .Params.author }}</li>
          <li><strong>Date:</strong> {{ .Date.Format "Jan 2, 2006" }}</li>
          <li><strong>Host:</strong> {{ .Params.host }}</li>
        </ul>
        <div class="modal_actions">
          <div class="icon_button">
            <a href="{{ .Params.buy_link }}" target="_blank">
              <p class="button_text">
                Buy This Book
                <img class="book_icon" src="/images/book-open.svg" />
              </p>
            </a>
          </div> <!-- End icon_button -->
        </div> <!-- End modal_actions -->
      </div> <!-- End modal_description -->
    </div> <!-- End modal_content_container -->
  </div> <!-- End modal modal_container -->
</div> <!-- End modal -->
