{{ define "main" }}
  <div class="content">

    {{ partial "sidebar.html" . }}

    <div class="page_content">
      <div class="grid book_list_grid modal_grid">
        {{ range (where .Data.Pages "Section" "book") }}
          <div class="card">
            <div class="card_image">
              <div>
                <a href="#" class="modal_trigger" data-modal="modal_{{ .File.TranslationBaseName }}">
                  <img class="thumbnail" src="/images/{{ .Params.image }}" alt="cover of {{ .Params.title }}">
                </a>
              </div>

              {{ partial "modal.html" . }}

            </div>
          </div>
        {{ end }}
      </div>
    </div>

{{ end }}
